@charset "utf-8";

/*  -------------------------------------------------------------
    Trantorium
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    Author:         Sébastien Santoro aka Dereckson
    Tags:           orange 960
    Filename:       theme.css
    Version:        1.0
    Created:        2009-08-16
    Updated:        2010-03-09
    Licence:        Creative Commons BY 3.0
    -------------------------------------------------------------    */

/*  -------------------------------------------------------------
    General style
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

body {
    background-color: white;
    background-position: top left;
    background-image: url("../images/topborder.png");
    background-repeat: repeat-x;

    margin: 0 0;

    font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content {
    flex: 1;

    padding-top: 1.25em;
}

/*  -------------------------------------------------------------
    Titles
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

h2 {
    font-weight: normal;
    color: black;
}

h3 {
    color: #e94810;
}

/*  -------------------------------------------------------------
    Contact information
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

.contact h2 {
    display: none;
}

.contact h3 {
    font-size: inherit;
    color: inherit;
    font-weight: 900;
}

.contact p {
    margin-left: 2em;
}

/*  -------------------------------------------------------------
    Footer
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

footer {
    background-color: #35343c;
    background-image: url("../images/footer_bg.jpg");
    background-position: top left;
    background-repeat: repeat-x;
    
    min-height: 12em;
    
    padding-top: 3em;
    color: white;
}

/* Footer links are not underlined, white and bold */

footer a {
	color: white;
    text-decoration: none;
}

footer a:hover {
	font-weight: bold;
}

footer dt {
    font-weight: 900;
    margin-bottom: 1em;
}

footer dd {
    margin-left: 8px;
}

/* Copyright line. */

footer .copyright {
    margin-top: 1em;
    font-size: 0.88em;
    text-align: right;
}
